.footer {
  background: #F1F2F2 url('../images/layout/bg-footer.png') no-repeat top right;
  padding: 50px 0;
  .social-icons {
    margin-top: 30px;
    a {
      color: #6F7072;
      font-size: 28px;
      margin-right: 15px;
      &:hover {
        color: #6F7072;
      }
    }
  }
  .footer-menu {
    .media {
      > div {
        padding-right: 50px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    a {
      text-transform: initial;
      letter-spacing: 2px;
    }
    .btn {
      margin-top: 0px;
      &:hover, &:active, &:focus {
        background: $accent-color;
        color: #fff;
        border-color: $accent-color;
      }
    }
    img {
      display: block;
    }
    .data {
      font-size: 13px;
      color: $body-color;
      font-weight: 600;
    }
    .location {
      margin-top: 20px;
    }
  }
  .contact-form {
    margin-top: 15px;
    display: none;
    input[type="text"], input[type="email"], textarea {
      width: 100%;
      border: 2px solid $gray-color;
      background: #fff;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 10px 12px;
      margin-bottom: 20px;
    }
    textarea {
      height: 100px;
    }
    .btn {
      height: 46px;
      border-color: $accent-color;
    }
  }
}
