.section {
  margin: 30px 0;
  .open-menu {
    border: 2px solid $gray-color;
    width: 80px;
    padding: 17px 17px 7px;
    display: block;
    margin-right: 45px;
    .line {
      display: block;
      height: 5px;
      margin-bottom: 10px;
      background: $gray-color;
    }
  }
  .header {
    margin-bottom: 60px;
  }
}

// Color gallery

.color-gallery {
  .title {
    margin-top: 50px;
    height: 400px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 23;
    width: 250px;
    h2 {
      margin-top: 170px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 10px;
      font-size: 36px;
    }
    &.red {
      background: $red-color url('../images/layout/ramas/red.png') center left no-repeat;
    }
  }
  .carousel {
    margin-bottom: 30px;
  }
}

// reset galleries

  .rsDefaultInv, .rsDefaultInv .rsOverflow, .rsDefaultInv .rsSlide, .rsDefaultInv .rsVideoFrameHolder, .rsDefaultInv .rsThumbs {
    background: #fff;
  }

// Estilos

.estilos-gallery {
  .slider-container .title {
    background: #fff;
    border: 2px solid $body-color;
    padding: 20px 30px;
    display: inline-block;
    width: 230px;
    color: $body-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    position: absolute;
    z-index: 11;
    margin-left: -20px;
    margin-top: -10px;
  }
}

// Proyectos

.proyectos {
  color: #B6B6B7;
  .open-menu {
    position: absolute;
  }
  .item {
    .date {
      margin-top: 30px;
      font-size: 16px;
      letter-spacing: 5px;
      margin-bottom: -5px;
    }
    h1 {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 70px;
      letter-spacing: 5px;
      display: inline-block;
      margin-bottom: 30px;
      font-weight: 600;
      &:after {
        content: '';
        display: block;
        margin-top: 25px;
        height: 3px;
        width: 100px;
        background: #B6B6B7;
        margin: 0px auto;
      }
    }
    .slide-image {
      height: 300px;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .slide-image img {
      display: none;
    }
    .toggle-event {
      color: $gray-color;
      margin-top: 20px;
      display: block;
      .circle {
        border: 3px solid $gray-color;
        border-radius: 50px;
        display: inline-block;
        width: 70px;
        height: 70px;
        i {
          font-size: 24px;
          padding: 18px 0;
        }
      }
      .name {
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .event-info {
    display: none;
    margin-top: 20px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
      > div {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .floating-img {
      position: absolute;
      z-index: 1;
      left: 45%;
      margin-top: 40px;
    }
    .floating-bg .color-area {
      height: 447px;
    }
    .green {
      background: $accent-color;
      color: #fff;
      &.ramas {
        background: $accent-color url('../images/layout/ramas/green.png') no-repeat center right;
      }
      &.leaf {
        background: $accent-color url('../images/layout/hojas/hoja-verde.png') no-repeat center center;
        color: #fff;
        min-height: 280px;
        a {
          color: #fff;
          font-size: 32px;
        }
      }
    }
    .fit-width {
      min-width: 100%;
      border-bottom: 20px solid #fff;
      border-left: 20px solid #fff;
    }
    .gray {
      background: $gray-light-color;
      color: $body-color;
    }
    .color-area {
      padding: 40px;
      position: relative;
    }
    .no-borders {
      margin: 0;
      > div {
        padding: 0;
      }
      .boxed-img {
        border: 20px solid #fff;
      }
    }
    .flowers {
      letter-spacing: 3px;
      ul {
        text-transform: uppercase;
        position: absolute;
        bottom: 100px;
        li {
          margin-bottom: 20px;
          position: relative;
          padding-left: 60px;
          color: #4C4B4A;
          font-weight: bold;
          &:before {
            content: ' ';
            background: url('../images/layout/li.png') no-repeat;
            width: 17px;
            height: 17px;
            display: block;
            position: absolute;
            margin-left: -30px;
            margin-top: 2px;
          }
        }
      }
      .green {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 115%;
        padding: 30px;
        padding-right: 70px;
        text-align: right;
      }
    }
    .box-vertical {
      margin: 20px 0;
    }
    .box-title {
      display: block;
      border: 2px solid #fff;
      padding: 20px 40px;
      margin: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
      height: 22px;
    }
    .text {
      text-align: left;
      padding: 40px;
      p {
        letter-spacing: 3px;
        font-size: 13px;
      }
    }
    .last-row {
      height: 240px;
      overflow: hidden;
      > div:first-child {
        padding-left: 30px;
      }
    }
  }
}
