// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:        #84B6A0;
$body-color:           #797D82;
$accent-color:         #84B6A0;
$alt-color:            #6A3272;
$red-color:            #B6222C;
$yellow-color:         #ECCC31;
$gray-color:           #B7B9BB;
$gray-light-color:     #E8E8E9;
