.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  border: 2px solid;
  padding: 10px 15px;
}
.btn-link {
  border: 0;
  color: $body-color;
}
.btn-default {
  border-color: $body-color;
  color: $body-color;
  background: none;
  &:hover, &:focus, &:active {
    background: none;
    color: $body-color;
    border-color: $body-color;
  }
}
.btn-sm {
  padding: 5px 15px;
}
.btn-primary input {
  border: 0;
  background: none;
  padding: 0;
}
.btn-primary img {
  display: none;
}
.btn-dark {
  background-color: $body-color;
  border-color: $body-color;
  color: #fff;
  &:hover, &:focus, &:active {
    color: #fff;
    background: $accent-color;
    border-color: $accent-color;
  }
}
