.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  border: 2px solid;
  padding: 10px 15px;
}
.btn-default {
  border-color: $body-color;
  color: $body-color;
  &:hover, &:focus, &:active {
    background: none;
    color: $body-color;
    border-color: $accent-color;
  }
}
